body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 40px;
    background: linear-gradient(90deg, #00ffb3, #89fff3);
  }

  nav {
    font-size: x-large;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .list-item {
    margin: 15px;
  }

  .game {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 60%;
    height: 40%;
  }

  .bt {
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    border: 0px;
    border-radius: 15px;
    padding: 2px;
    width: 130px;
    height: 25px;
    color: #121212;
    font-weight: 600;
  }

  .bt:hover {
    box-shadow: 3px 3px 5px #121212;
    background: #ffffff;
    color: #6200ee;
  }

  .buttons {
    padding-left: 20px;
  }

  .board {
    background-color: #ffffff;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 10px 15px black;
    counter-reset: row;
    position: relative;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 20px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .row-count {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    margin-right: 2px;
    margin-top: 2px;
    left: 0;
    top: 50px;
    padding: 2px;
  }

  .row-label {
    display: block;
    height: 100px;
    width: 60px;
    text-align: center;
    color: #6200ee;
  }

  .column-count {
    display: flex;
  }

  .column-label {
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #6200ee;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #ffffff;
    border: 2px solid #6200ee;
    border-radius: 5px;
    float: left;
    font-size: 32px;
    font-weight: 600;
    line-height: 34px;
    height: 100px;
    margin-right: 2px;
    margin-top: 2px;
    padding: 2px;
    text-align: center;
    color: #6200ee;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #fff;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 40px;
  }
  