body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin: 40px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .list-item {
    margin: 3px;
  }

  .bt {
    background-color: #91fcc8;
    opacity: 1;
    border: 0px;
    border-radius: 15px;
    padding: 2px;
    width: 130px;
    height: 25px;
    margin: 3px;
  }

  .board {
    background-color: #91fcc8;
    border-radius: 5px;
    padding: 3px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #0F9D58;
    border-radius: 5px;
    float: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    height: 34px;
    margin-right: 1px;
    margin-top: 1px;
    padding: 2px;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  